In [17]:
import pandas as pd
import numpy as np

In [18]:
data_path = './data/'

In [25]:
products_df = pd.read_csv(f'{data_path}products.csv')
dc_df = pd.read_csv(f'{data_path}distribution_centers.csv')
world_pop_df = pd.read_csv(f'{data_path}world_pop.csv')

In [6]:
# products data overview
products_df.head(2)

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
0,13842,2.51875,Accessories,Low Profile Dyed Cotton Twill Cap - Navy W39S55D,MG,6.25,Women,EBD58B8A3F1D72F4206201DA62FB1204,1
1,13928,2.33835,Accessories,Low Profile Dyed Cotton Twill Cap - Putty W39S55D,MG,5.95,Women,2EAC42424D12436BDD6A5B8A88480CC3,1

In [9]:
# distribution centers
display(dc_df.head())

print(f"Number of distribution centers: {dc_df.shape[0]}")

   id            name  latitude  longitude
0   1      Memphis TN   35.1174   -89.9711
1   2      Chicago IL   41.8369   -87.6847
2   3      Houston TX   29.7604   -95.3698
3   4  Los Angeles CA   34.0500  -118.2500
4   5  New Orleans LA   29.9500   -90.0667

Number of distribution centers: 10

In [13]:
# world population data overview
display(world_pop_df.head(2))

print(f"Number of records in world population data: {world_pop_df.shape[0]}")
print(f"Number of countries in world population data: {world_pop_df['country'].nunique()}")

,country,state,city,postal_code,latitude,longitude,population
0,United States,Texas,El Paso,79936,31.776203,-106.297778,129566
1,United States,California,Riverside,92503,33.885823,-117.447869,120768

Number of records in world population data: 19493
Number of countries in world population data: 16

In [15]:
world_pop_df['country'] .unique()

array(['United States', 'Australia', 'France', 'Espa√±a', 'Spain',
       'Poland', 'Germany', 'Austria', 'China', 'Japan', 'South Korea',
       'Brasil', 'Colombia', 'Belgium', 'Deutschland', 'United Kingdom'],
      dtype=object)

In [43]:
p_dict = products_df.to_dict(orient='list')

In [45]:
p_dict["id"]

[13842,
 13928,
 14115,
 14157,
 14273,
 15674,
 15816,
 28646,
 28670,
 28714,
 28779,
 28904,
 29007,
 12777,
 12810,
 12812,
 12853,
 12900,
 13247,
 13477,
 13574,
 2848,
 3039,
 9041,
 13122,
 18147,
 18363,
 18394,
 18465,
 18593,
 18607,
 18644,
 18664,
 18708,
 18796,
 24644,
 24674,
 24731,
 27569,
 3206,
 3660,
 3682,
 3730,
 3943,
 5353,
 5433,
 9035,
 14170,
 28411,
 28548,
 28873,
 29033,
 25038,
 17159,
 5357,
 5440,
 5474,
 7234,
 7236,
 7246,
 7377,
 7448,
 7903,
 8080,
 8089,
 8093,
 8101,
 8103,
 8107,
 8109,
 8110,
 8139,
 8145,
 8148,
 8155,
 8158,
 8160,
 8162,
 8185,
 8188,
 8189,
 8191,
 8194,
 8195,
 8197,
 8199,
 8208,
 8209,
 70,
 791,
 2060,
 1935,
 1972,
 2349,
 6529,
 12746,
 12750,
 12757,
 12762,
 12768,
 12794,
 12803,
 12807,
 12815,
 12850,
 12967,
 13052,
 13077,
 13190,
 13312,
 13350,
 27445,
 27457,
 27466,
 27481,
 27487,
 27510,
 27529,
 27537,
 27552,
 27599,
 27674,
 27812,
 27960,
 27976,
 28039,
 28167,
 28204,
 1513,
 3580,
 4330,
 4474,
 4477,
 4889,
 4946,
 4983,
 6332,
 6361,
 6463,
 6583,
 6591,
 6793,
 25089,
 29099,
 3212,
 3351,
 15178,
 24721,
 24771,
 25335,
 25341,
 12710,
 12717,
 12720,
 12721,
 12734,
 12918,
 12974,
 13015,
 13126,
 13152,
 13184,
 13226,
 13284,
 13353,
 13475,
 13489,
 13499,
 13568,
 13952,
 14032,
 14109,
 14139,
 14232,
 14234,
 15981,
 28627,
 23312,
 27003,
 17483,
 20265,
 20495,
 22561,
 22622,
 22462,
 15917,
 12216,
 12217,
 9674,
 3860,
 5602,
 7337,
 17691,
 17981,
 18011,
 27630,
 27946,
 2935,
 17702,
 27912,
 9326,
 132,
 191,
 271,
 306,
 567,
 634,
 2480,
 2493,
 2548,
 2578,
 2595,
 2677,
 2691,
 2739,
 2747,
 2796,
 2875,
 2923,
 2986,
 2991,
 2992,
 3028,
 8754,
 11058,
 12856,
 13710,
 14345,
 15448,
 16875,
 18132,
 18154,
 18163,
 18290,
 18418,
 18451,
 18464,
 18767,
 18768,
 18773,
 18794,
 25824,
 28486,
 21084,
 21266,
 21412,
 5058,
 9107,
 20746,
 20765,
 20842,
 20898,
 21208,
 21218,
 21499,
 21559,
 22285,
 18447,
 18559,
 18757,
 25576,
 25717,
 25720,
 25746,
 25771,
 25820,
 25829,
 25834,
 25848,
 25856,
 25890,
 25909,
 25911,
 25949,
 25991,
 26013,
 26051,
 26094,
 26115,
 26150,
 26155,
 26161,
 26164,
 26226,
 26249,
 26264,
 26265,
 26269,
 26270,
 26295,
 26301,
 26305,
 26388,
 26392,
 26393,
 26421,
 26439,
 17339,
 17694,
 18006,
 20175,
 16811,
 19353,
 19364,
 19369,
 19434,
 19509,
 19586,
 19742,
 27291,
 27293,
 5825,
 9015,
 9435,
 22341,
 21574,
 7033,
 7053,
 10531,
 25862,
 4169,
 3965,
 4014,
 4081,
 4175,
 5223,
 5620,
 7949,
 16917,
 17141,
 17247,
 17298,
 17452,
 17536,
 17537,
 19129,
 19426,
 19699,
 20870,
 20963,
 21443,
 21470,
 21929,
 22266,
 22355,
 22567,
 22629,
 23088,
 23274,
 23354,
 23371,
 23512,
 23530,
 23534,
 23556,
 23559,
 23562,
 23570,
 28165,
 5909,
 13701,
 13922,
 14087,
 14168,
 15273,
 15429,
 15797,
 10493,
 12561,
 12601,
 12605,
 12647,
 12648,
 12686,
 12693,
 12694,
 12695,
 12698,
 98,
 115,
 125,
 128,
 162,
 163,
 167,
 172,
 178,
 180,
 186,
 209,
 211,
 214,
 222,
 228,
 235,
 237,
 262,
 285,
 286,
 311,
 315,
 319,
 324,
 344,
 349,
 353,
 357,
 361,
 379,
 382,
 388,
 391,
 407,
 438,
 440,
 455,
 461,
 466,
 474,
 518,
 639,
 651,
 654,
 705,
 782,
 820,
 826,
 830,
 834,
 842,
 847,
 849,
 850,
 857,
 871,
 875,
 879,
 880,
 889,
 904,
 911,
 940,
 954,
 960,
 963,
 986,
 1022,
 1036,
 1075,
 1160,
 1165,
 1166,
 1263,
 1396,
 1609,
 3187,
 3216,
 3217,
 3227,
 3286,
 3311,
 3340,
 3344,
 3353,
 3362,
 3395,
 3424,
 3482,
 3517,
 3521,
 3604,
 3753,
 3889,
 3892,
 3920,
 3923,
 4015,
 8445,
 8452,
 8698,
 11876,
 14558,
 14560,
 15139,
 28405,
 28887,
 25150,
 25240,
 5099,
 5016,
 2073,
 19787,
 24505,
 24587,
 24821,
 2399,
 2720,
 2939,
 18064,
 18201,
 18524,
 18610,
 18760,
 9429,
 9479,
 11104,
 11138,
 11144,
 11176,
 11224,
 11230,
 11253,
 11269,
 11272,
 11280,
 11336,
 11354,
 14841,
 14842,
 14941,
 15811,
 26364,
 11776,
 12214,
 12215,
 12221,
 12231,
 12242,
 12246,
 12255,
 12261,
 12270,
 12276,
 12281,
 12324,
 10564,
 26458,
 28481,
 18514,
 23892,
 231,
 921,
 965,
 988,
 1686,
 2468,
 2474,
 3185,
 3218,
 3255,
 3265,
 3302,
 3366,
 3405,
 3469,
 3544,
 3596,
 3762,
 3776,
 7102,
 7106,
 7110,
 7171,
 9333,
 9673,
 10207,
 12737,
 12748,
 12756,
 12867,
 13154,
 13156,
 13200,
 13622,
 13642,
 13646,
 13790,
 15577,
 22748,
 22760,
 23776,
 26677,
 27490,
 27635,
 28322,
 28329,
 28343,
 28474,
 18600,
 26068,
 26109,
 26190,
 26287,
 26350,
 26390,
 28454,
 28572,
 12144,
 23694,
 13058,
 13464,
 17417,
 18033,
 20528,
 19903,
 11005,
 305,
 593,
 1556,
 1565,
 1696,
 2526,
 16219,
 16226,
 16363,
 16410,
 16483,
 16652,
 16672,
 16713,
 16777,
 16804,
 16840,
 16895,
 16915,
 16987,
 17004,
 17009,
 18082,
 18161,
 18326,
 18565,
 18653,
 18754,
 12949,
 13056,
 13081,
 13110,
 13132,
 13285,
 13333,
 13465,
 13480,
 13491,
 19542,
 18,
 229,
 555,
 672,
 707,
 1321,
 1390,
 1553,
 1584,
 1595,
 1596,
 1605,
 1649,
 1652,
 1692,
 1700,
 1706,
 1728,
 1761,
 1771,
 1795,
 1813,
 1821,
 1845,
 1931,
 1967,
 2043,
 2078,
 2188,
 2222,
 2271,
 2370,
 2417,
 2962,
 2999,
 3009,
 3173,
 3605,
 3708,
 5162,
 5754,
 6274,
 6278,
 6294,
 6347,
 6355,
 6362,
 6366,
 6457,
 6475,
 6490,
 6499,
 6663,
 6786,
 6788,
 6796,
 6804,
 6858,
 6869,
 6878,
 6969,
 7067,
 7073,
 7074,
 8298,
 8541,
 8562,
 12711,
 12861,
 12896,
 13217,
 13254,
 13362,
 13469,
 13556,
 15990,
 16000,
 16035,
 16179,
 16198,
 16199,
 16291,
 16340,
 16349,
 16421,
 16424,
 16469,
 16549,
 16568,
 16583,
 16647,
 16655,
 16686,
 16845,
 16860,
 16955,
 16956,
 17001,
 17063,
 17110,
 17124,
 17144,
 17154,
 17199,
 17202,
 17207,
 17210,
 17221,
 17237,
 17274,
 17393,
 17422,
 17436,
 17447,
 17525,
 17533,
 17547,
 17553,
 17644,
 17652,
 17759,
 17875,
 17930,
 17953,
 17980,
 18023,
 18975,
 19173,
 19580,
 20120,
 20846,
 20879,
 21382,
 21769,
 21848,
 22057,
 22322,
 22750,
 22755,
 22787,
 22790,
 22795,
 22816,
 22849,
 22860,
 22862,
 22892,
 22909,
 22910,
 22916,
 22942,
 22998,
 23024,
 23033,
 23068,
 23071,
 23074,
 23089,
 23094,
 23128,
 23137,
 23143,
 23179,
 23188,
 23209,
 23217,
 23225,
 23290,
 23326,
 23332,
 23365,
 23376,
 23401,
 23470,
 23487,
 23490,
 23553,
 23587,
 23596,
 23603,
 23609,
 23632,
 23730,
 27420,
 27425,
 27442,
 27443,
 27450,
 27452,
 27460,
 27471,
 27474,
 27498,
 27530,
 27545,
 27546,
 27561,
 27566,
 27571,
 27594,
 27597,
 27605,
 27634,
 27647,
 27650,
 27653,
 27770,
 27784,
 27790,
 27813,
 27825,
 27826,
 27834,
 27847,
 27874,
 27903,
 27910,
 27945,
 27954,
 27967,
 27979,
 27994,
 28042,
 28127,
 28131,
 28234,
 28250,
 28396,
 28450,
 28623,
 29068,
 5614,
 5633,
 8037,
 10343,
 10443,
 10522,
 14333,
 14355,
 14376,
 14437,
 14567,
 14594,
 14643,
 14648,
 14669,
 14751,
 14763,
 14836,
 14864,
 14984,
 15016,
 15814,
 28734,
 10351,
 10611,
 10673,
 14341,
 14395,
 14404,
 14411,
 14488,
 14514,
 14577,
 14907,
 14909,
 15086,
 16509,
 16677,
 16886,
 16903,
 16916,
 16920,
 5826,
 5861,
 5868,
 5919,
 5992,
 6263,
 6267,
 6268,
 3703,
 3738,
 3952,
 3963,
 4042,
 12097,
 6344,
 20392,
 1,
 24,
 43,
 68,
 72,
 1527,
 1769,
 4215,
 4217,
 4221,
 4223,
 4227,
 4233,
 4234,
 4251,
 4264,
 5396,
 5468,
 26001,
 11155,
 11276,
 17869,
 26225,
 27527,
 27734,
 27827,
 8066,
 8069,
 8099,
 8111,
 8113,
 8114,
 8120,
 8125,
 8129,
 8135,
 8159,
 8166,
 8177,
 8180,
 8182,
 8183,
 8190,
 8198,
 8200,
 8206,
 8207,
 8244,
 8245,
 8250,
 3408,
 18875,
 18952,
 24089,
 24291,
 13708,
 14001,
 15442,
 24764,
 25142,
 26058,
 28531,
 28996,
 17405,
 1185,
 3998,
 ...]