In [1]:
import pandas as pd
import numpy as np

In [13]:
data_path = './output'
csv_path = './data'

In [15]:
products_df = pd.read_csv(f'{csv_path}/products.csv')
dc_df = pd.read_csv(f'{csv_path}/distribution_centers.csv')
world_pop_df = pd.read_csv(f'{csv_path}/world_pop.csv')

In [6]:
# products data overview
products_df.head(2)

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
0,13842,2.51875,Accessories,Low Profile Dyed Cotton Twill Cap - Navy W39S55D,MG,6.25,Women,EBD58B8A3F1D72F4206201DA62FB1204,1
1,13928,2.33835,Accessories,Low Profile Dyed Cotton Twill Cap - Putty W39S55D,MG,5.95,Women,2EAC42424D12436BDD6A5B8A88480CC3,1

In [9]:
# distribution centers
display(dc_df.head())

print(f"Number of distribution centers: {dc_df.shape[0]}")

   id            name  latitude  longitude
0   1      Memphis TN   35.1174   -89.9711
1   2      Chicago IL   41.8369   -87.6847
2   3      Houston TX   29.7604   -95.3698
3   4  Los Angeles CA   34.0500  -118.2500
4   5  New Orleans LA   29.9500   -90.0667

Number of distribution centers: 10

In [13]:
# world population data overview
display(world_pop_df.head(2))

print(f"Number of records in world population data: {world_pop_df.shape[0]}")
print(f"Number of countries in world population data: {world_pop_df['country'].nunique()}")

,country,state,city,postal_code,latitude,longitude,population
0,United States,Texas,El Paso,79936,31.776203,-106.297778,129566
1,United States,California,Riverside,92503,33.885823,-117.447869,120768

Number of records in world population data: 19493
Number of countries in world population data: 16

In [15]:
world_pop_df['country'] .unique()

array(['United States', 'Australia', 'France', 'Espa√±a', 'Spain',
       'Poland', 'Germany', 'Austria', 'China', 'Japan', 'South Korea',
       'Brasil', 'Colombia', 'Belgium', 'Deutschland', 'United Kingdom'],
      dtype=object)

In [43]:
p_dict = products_df.to_dict(orient='list')

In [11]:
df_inventory = pd.read_csv(f"{data_path}/inventory_items.csv")
df_events = pd.read_csv(f"{data_path}/events.csv")
df_order_items = pd.read_csv(f"{data_path}/order_items.csv")
df_orders = pd.read_csv(f"{data_path}/orders.csv")
df_users = pd.read_csv(f"{data_path}/users.csv")

In [16]:
df_inventory.head(1
)

,id,product_id,created_at,sold_at,cost,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id
0,1,18431,2023-07-24 21:13:00,2023-08-26 14:57:00,11.05,Active,MJ Soffe Men's Stadium Stripe Polo Shirt,MJ Soffe,25.0,Men,9CAC92499B25860C07FBE66F3D10EAC6,1

In [18]:
products_df.query('id == 18431')

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
1546,18431,11.05,Active,MJ Soffe Men's Stadium Stripe Polo Shirt,MJ Soffe,25.0,Men,9CAC92499B25860C07FBE66F3D10EAC6,1

In [25]:
import faker
import pandas as pd
import numpy as np

fake = faker.Faker()

n_user = 10000

In [ ]:
users_df = pd.DataFrame({
    'id': np.ara
    'gender': np.random.choice(['M', 'F'], n_user),
    'created_at': pd.to_datetime("2019-01-01") + pd.to_timedelta(np.random.randint(0, 2000, n_user), unit = "D"),
})

users_df.head(1)

AttributeError: module 'numpy' has no attribute 'arrange'

In [27]:
import sys
print(sys.executable)

/home/ryanabsar/projects/data-eng/analytics-pipeline/.venv/bin/python

In [ ]:
pd.to_datetime